@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
/* 回答はここに書いてね */

/* どこでfirst-chiledを使うべきなのかわからない */
.text-wrapper {
  margin: 0 auto;
  width: 940px;
  background-color: #eff3f4;
  padding: 20px 0 20px 0;
}
.text-content {
  float: left;
  width: 230px;
  border: 20px solid #3274ae;
  margin-left: 20px;
}
.main-text {
  font-size: 16px;
  line-height: 16px;
  background-color: #eaf4ff;
  border: 10px solid #022336;
  padding: 20px;
}