@charset "UTF-8";

/* 回答はここに書いてね */
.main-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border: solid #dedede 1px;
}
/* 回答はここに書いてね */

.main-table th {
  padding: 10px;
  line-height: 26px;
  font-size: 18px;
  background-color: #2244aa;
  color: white;
  border: solid #dedede 1px;
}
.main-table tr {
  border: solid #dedede 1px;
}
.main-table td {
  border: solid #dedede 1px;
  line-height: 22px;
  font-size: 16px;
}
.main-table tr:nth-child(2) {
  background-color: #ecf1f2;
}
.main-table tr:nth-child(4) {
  background-color: #ecf1f2;
}
.main-table tr:nth-child(5) {
  border-top: dashed #000 2px;
}

